@page
@model BreweryModel
@{
    ViewData["Title"] = "Brwery Data";
    //allBrewery = (Brewery.BreweryJson)ViewData["allBrewery"];
    List<Brewery.BreweryData> allBrewery = (List<Brewery.BreweryData>)ViewData["Brewery"];

}

<head>
    <title>Brewery Data</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />

</head>

<div class="text-center">
    <h2 class="display-4 text-white">Breweries</h2>
    <table class="table table-info">
        <tr>
            <th>
                Brewery
            </th>
            <th>
                Phone
            </th>
            <th>
                Price
            </th>
            <th>
                Location
            </th>
            <th>
                Rating
            </th>
        </tr>
        @{



            @foreach (Brewery.BreweryData brewery in allBrewery)

            {
                <tr>
                    <td>@brewery.Name</td>
                    <td>@brewery.Phone</td>
                    <td>@brewery.Price</td>
                    <td>@brewery.Location.Address1 @brewery.Location.Address2 @brewery.Location.Address3</td>
                    <td>@brewery.Rating</td>

                </tr>
            }
        }
    </table>
</div>

