@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<QuickTypeCad.Cad> allcad = (List<QuickTypeCad.Cad>)ViewData["allcad"];
}

    <div class="text-center">
        <h1 class="display-4">Reported Drug activity in Cincinnati</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <table class="table table-striped table-hover table-danger">
            <tr>
                <th>
                    Event Number
                </th>
                <th>
                    Incident ID
                </th>
                <th>
                    Community
                </th>
                <th>
                    Address
                </th>
                <th>
                    Reported Time
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longitude
                </th>
            </tr>
            @{
                @foreach (QuickTypeCad.Cad cad in allcad)
                {
                    <tr>
                        <td>@cad.EventNumber</td>
                        <td>@cad.IncidentTypeId</td>
                        <td>@cad.SnaNeighborhood</td>
                        <td>@cad.AddressX</td>
                        <td>@cad.CreateTimeIncident</td>
                        <td>@cad.PriorityColor</td>
                        <td>@cad.LatitudeX</td>
                        <td>@cad.LongitudeX</td>

                    </tr>
                }
            }
        </table>
    </div>
