@page
@model CAD_drug_report.Pages.DrugINcidents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create" class="display-4">Drug Incident Report</a>
</p>
<table class="table text-white table-info">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportDrugIncidents[0].Agency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDrugIncidents[0].IncidentTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDrugIncidents[0].Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDrugIncidents[0].PriorityColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDrugIncidents[0].Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDrugIncidents[0].Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ReportDrugIncidents) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Agency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
